


h2{
  margin: 0;
}
.authPageContainer {
  background-color: #080a0f;
  display: flex;
  height: 100vh;
  width: 100%;
}

.imageLogin {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginImageContainer {
  flex: 1;
  position: relative;
}

.loginFormContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121924;
}
.registerFormContainer{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #122419;
}

.loginFormInner {
  width: 100%;
  max-width: 450px;
  padding: 40px;
}

.containerTextLoginImage {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 80%;
}

.containerTextLoginImage h1 {
  font-size: 3rem;
  margin: 0 0 1rem 0;
  font-weight: 700;
}

.containerTextLoginImage p {
  font-size: 1.1rem;
  opacity: 0.9;
  line-height: 1.5;
}

.loginHeader h1 {
  color: white;
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

.loginHeader p {
  color: #9ca3af;
  margin: 0 0 2rem 0;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  color: #e5e7eb;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 15px;
  font-size: 1.2rem;
  color: #b6bcc9;
}

.inputWrapper input {
  width: 100%;
  padding: 12px 15px 12px 45px;
   background-color: rgba(45, 55, 72, 0.2);
  border: 1px solid #4a5568;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
   
}

.inputWrapper input::placeholder {
  color: #6b7280;
}

.inputWrapper input:focus {
  outline: none;
  border-color: #3b82f6;
}

.formOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.rememberMe {
  display: flex;
  align-items: center;
  color: #e5e7eb;
  font-size: 0.9rem;
  cursor: pointer;
}

.rememberMe input {
  margin-right: 8px;
  cursor: pointer;
}

.forgotPassword {
  color: #3b82f6;
  text-decoration: none;
  font-size: 0.9rem;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.loginButton {
  width: 100%;
  padding: 14px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.registerButton{
   width: 100%;
  padding: 14px;
  background-color: #1fc05d;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.registerButton:hover{
  background-color: #1aa14e;
}

.loginButton:hover {
  background-color: #2563eb;
}

.divider {
  text-align: center;
  margin: 1.5rem 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #4a5568;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.divider span {
  color: #9ca3af;
  font-size: 0.85rem;
  background-color: #1a2332;
  padding: 0 15px;
}

.socialButtons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.socialButton {
  flex: 1;
  padding: 12px;
  background-color: #2d3748;
  border: 1px solid #4a5568;
  border-radius: 8px;
  color: white;
  font-size: 0.95rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.socialButton:hover {
  background-color: #374151;
}

.signupLink {
  text-align: center;
  color: #9ca3af;
  font-size: 0.9rem;
}

.signupLink a {
  color: #3b82f6;
  text-decoration: none;
}

.signupLink a:hover {
  text-decoration: underline;
}
.errorMessage{
  margin: 0;
  padding: 0;
  color: rgb(197, 93, 93);
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111621;
}
.flexPass{
  display: flex;
  gap: 10px;
}
.link{
  color: #3b82f6;
  cursor: pointer;
}

/* NavBar */
.navBar{
  display: flex;
  background-color: #0e1a1d;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
}

.navBarSectionLogo{
  display: flex;
  align-items: center;
  gap: 20px;
}
.navBarSectionLogo h2{
  color: white;
}
.navLink{
  color: rgba(255, 255, 255, 0.678);
  text-decoration: none;
  cursor: pointer;

}
.searchBarNav{
  display: flex;
  gap: 4px;
  background-color: #244147;
  padding: 6px 12px;
  border-radius: 6px;
  align-items: center;
  color: #81abb4;
}
.searchBarNav input{
  background-color: #244147;
   border: none;       
  outline: none;     
  box-shadow: none;   
  font: inherit;     
  color: #81abb4;     
  
}
.navBarSectionRight{
  display: flex;
  gap: 12px;
}
.btnNavBar{
  padding: 10px;
 text-align: center;
 cursor: pointer;
  border-radius: 6px;
   background-color: #244147;
   color: white;
    border: none;
  outline: none;
  box-shadow: none;
  
}

/* HomePage */
.homePageContainer{
  padding: 40px 6%;
  background-color: #0e1a1d;
}
.homePageImageContainer {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.imageHomePage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center;
}
.imageFadeOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(14, 26, 29, 1),
    rgba(14, 26, 29, 0)
  );
  pointer-events: none;
}
.homePageTextBanner{
  padding: 50px;
  position: absolute;
  max-width: 40%;
  top: 10%;
  color: white;
  z-index: 2;
  
}
.homePageTextBanner h1{
  font-size: 8vh;
  margin: 0;
}
.homePageTextBanner h1 span{
    display: block;
    color: #17b0cf;
}
.homePageTextBanner p{
  color: rgb(179, 179, 179);
  font-size: 2vh;
}

.btnViewCollectionHomePage{
   border-radius: 10px;
   padding: 15px 30px;
   background-color: #17b0cf;
   font-size: 2vh;
   cursor: pointer;
   border: none;
}
.genreMenu{
  color: white;
}
.btnGenre{
  padding: 13px 26px;
  font-size: 1.6vh;
  margin: 0px 3px;
  border-radius: 6px;
  background-color: #1a2c30;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
}
.homePageFeaturedRecords{
  margin-top: 40px;
}
.homePageFeaturedRecordsTit{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homePageFeaturedRecordsTit h2{
  margin: 0;
  color: white;
}
.homePageJoinContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a2c30;
  border-radius: 20px;
 gap: 20px;
 text-align: center;
 padding: 80px;
}
.homePageJoinContainer h2{
  font-size: 2em;
  color: white;
}
.homePageJoinContainer p{
  color: gray;
}
.emailIcon{
  font-size: 4em;
  color: #17b0cf;
}
.inptSubscribe{
  width: 300px;
  margin-right: 6px;
  padding: 12px;
  border-radius: 6px;
  background-color: #0e1a1d;
   border: none;       
  outline: none;     
  box-shadow: none;
  color: gray;   
}
.btnSubscribe{
  border-radius: 10px;
   padding: 12px 30px;
   background-color: #17b0cf;
   cursor: pointer;
   border: none;
}

/* footer */
.footerContainer {
  background-color: #0e1a1d;
  border-top: 1px solid rgba(255, 255, 255, 0.185);
  border-bottom: 1px solid rgba(255, 255, 255, 0.171);
  padding: 40px 2%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.footerContainer h3 {
  color: white;
  margin-bottom: 10px;
}

.footerContainer a {
  color: gray;        
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
  transition: color 0.2s ease;
}

.footerContainer a:hover {
  color: white;
}

.colLinkFooter {
  display: flex;
  flex-direction: column;
  gap: 8px;          
}

.colLinkFooter a {
  color: gray;
  font-size: 1.5em;
}

.colLinkFooter a:hover {
  color: white;
}

/* copyright sotto footer */
.footerCopyright {
  background-color: #0e1a1d;
  color: #9ca3af;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
}

/* vinylcard */
.homePageVinylCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-bottom: 10px;
}

.vinylCard {
  
  border-radius: 8px;
  padding: 10px;
  color: white;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.vinylCard:hover {
  transform: scale(1.03);
}

.imgVinylCard {
  width: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 8px;
}

.vinylCard h5 {
  margin: 8px 0 4px 0;
  font-size: 16px;
  font-weight: 600;
}

.vinylCard p {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #9ca3af;
}

.vinylCard span {
  margin-top: auto;
  font-size: 16px;
  font-weight: 700;
  color: #17b0cf;
}

/* Artist of the month */
.artistOfMonthContainer{
  display: flex;
   width: 100%;
   border-radius: 20px;
   margin: 40px 0px;
    background-color: #1a2c30;
}
.aotmLeftSide{
  flex: 1;
}
.aotmLeftSide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.aotmRightSide{
  flex: 1;
  padding: 60px;
}
.aotmRightSide h4{
  color: #17b0cf;
}
.aotmRightSide h2{
  color: white;
}
.aotmRightSide p{
  color: gray;
}
.btnAofm{
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background-color: white;
}
/* Catalog Page */
.catalogPageContainer{
  width: 100%;
  padding: 2%;
}
.filterCatalogContainer{
 
}
.filterCatalogContainer h5{
   color: white;
}
.btnFilterCatalog{
  text-align: start;
  color: grey;
  background-color: #0e1a1d;
  padding: 6px;
  border-radius: 2px;
  border: none;
  outline: none;
  box-shadow: none;

}
.btnFilterCatalog:hover{
  background-color: #112d33;
}
.btnFilterCatalogActive{
   text-align: start;
    border-radius: 4px;
  color: #169db9;
   padding: 6px;
  background-color: #112d33;
  border: none;
  outline: none;
  box-shadow: none;
}
.drpDwnIcon{
  color: white;
  cursor: pointer;
  font-size: 1.2em;
}
.menuItem{
  height: 200px;
   overflow-y: auto;
}
.menuItem::-webkit-scrollbar {
  width: 6px;
}

.menuItem::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.checkBox{
  color: gray;
}
.checkBox .form-check-input {
  background-color: transparent;
  border-color: gray;
}

.checkBox .form-check-input:checked {
  background-color: #169db9; 
  border-color: #169db9;
}
.btnLoadMore{
  background-color: #0e1a1d;
  color: #169db9;
  border: 1px solid #169db9;
  border-radius: 6px;
  outline: none;
  box-shadow: none;
}
.btnLoadMore:hover{
  background-color: #15282c;
}
.heroSectionCatalog {
  background-image: 
    linear-gradient(to right, #0e1a1d, rgba(0,0,0,0)),
    url("https://lh3.googleusercontent.com/aida-public/AB6AXuBKNN_OiC_dD6gFCUrXKZPY-iBUlDvTWyTFWLVTLBfpgd6qGVcPH32voM3m5lfAfReh8oH_oFXEGDFc3BrOShU3abWWrplOCmz0v6k-JtbMA3qelR_1tMfMaVmar7fHPXGIzjdaGPSthG1YfyqpUNiyJOrG0ib7kKx6oLfRrxw-B7xfI_O9FmyDEeObOxOYeS9CtGMx8iI5_dpDwBxuL8rHYPbIyvWBLOkHlMVPWMe1OPT6f1vvhcBh0CxyfG4a1F8xBdOKNQtdEvTN");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  padding: 2rem;
}



